/* main*/

body {
	/*background-image: url(images/hallway.jpg) no-repeat center center fixed;*/
	/*background-image: url(images/hallway.jpg);*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	max-width: 100vw;
	max-height: 100vh;
	/* Taustakuvan animaation kesto */
	/*-webkit-transition: background 0.0s;
	-moz-transition: background 0.0s;
	-ms-transition: background 0.0s;
	-o-transition: background 0.0s;
	*/
	transition: background 0.0s;
	margin: 0 !important;
	
	overflow-x: hidden;
}

/* ------------------- Valikko ------------------------- */
ul{
	font-family: "Orbitron", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-shadow: 2px 2px 8px black;
	font-size: 18px;
	
	list-style-type: none;
	/*background-color: rgba(0,0,0,0);*/
	position: fixed;
	top: 0px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	min-height: 40px;
	overflow: hidden;
	
	z-index: 5;
}

li{
	float: left;
	overflow: hidden;
	/*background-color: #333;*/
}

li a, .dropbutton{
	min-width: 160px;
	display: inline-block;
	background-color: #333;
	color: #0aa;
	text-align: center;
	text-decoration: none;
	padding: 1vh 1.8vw; /* Kopioi sama padding osioon .dropdown-content a{ */
	border: none;
	outline: none;
}

li a:hover:not(.aktiivinen_sivu){
	background-color: #111;
}

li a:hover, .dropdown:hover .dropbutton {
	background-color: #111;
}

li.dropdown{
	display: inline-block;
	overflow: hidden;
}

.dropdown-content{
	display: none;
	background-color: #333;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
	z-index: 5;
	border: none;
	outline: none;
	margin-left: auto;
	margin-right: auto;
}

.dropdown-content a{
	float: none;
	color: #0aa;
	padding: 1vh 1.8vw; /* Kopioi sama padding osioon li a, .dropbutton{*/
	text-decoration: none;
	display: block;
	text-align: left;
	overflow: hidden;
	border: none;
	outline: none;
	background: rgba(0,0,0,0)
}

.dropdown-content a:hover {
	background-color: #111;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.aktiivinen_sivu{
	background-color: #133;
	color: #0aa;
}
/* ----------------------------------------------------- */

textarea {
	scrollbar-width: none;
	resize: none;
	background-color: rgba(0,0,0,0);
	/*border-color: rgba(0,0,0,0);*/
	outline: none;
	border: none;
	background: none;
	color: #000;
	
	margin-left: auto;
	margin-right: auto;
}

/* ------------------- Tekstikenttä -------------------- */
.tekstikentta_taustalla {
	width: 90%;
	aspect-ratio: 3/4;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.tekstikentta_taustalla img {
	border: none;
	z-index: -1;
	
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: absolute;
	width: 100%;
}

.tekstikentta_taustalla textarea {
	scrollbar-width: none;
	resize: none;
	background-color: rgba(0,0,0,0);
	/*border-color: rgba(0,0,0,0);*/
	outline: none;
	border: none;
	background: none;
	color: #000;
	overflow: hidden;
	font-family: "Pangolin", cursive;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
	
	display: inline;
	height: 50.5%;
	width: 77%;
	position: relative;
	padding-top: 10.8%;
	padding-right: 15%; /* marginaali muistilapun marginaalin kohdalle */
	padding-bottom: 0%;
	margin-right: auto;
	margin-left: auto;
}
/* ----------------------------------------------------- */

.keskita {
	align-items: center;
	text-align: center;
}


hr {
	border: 1px solid white;
	border-radius: 5px;
	
	display: block;
	max-width: 80%;
}

.container {
	font-family: "Orbitron", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-shadow: 2px 2px 8px black;
	font-size: 0.7vw;
	width: 100vw;
	min-height: 150vh;
	color: #fff;
}

.subtitle{
	font-family: "Orbitron", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-shadow: 2px 2px 10px black;
	font-size: 3vw;
	color: #fff;
	background-color: rgba(0,0,0,0.8);
	width: 100vw;
}

/* ---------------------- Otsikkoruutu ----------------- */
.toppane {
	color: #fff;
	font-family: "Orbitron", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-shadow: 2px 2px 8px black;
	background-color: black;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	height: 100vh;	
	margin-top: 0px;
	
	width: 100vw;
}

@keyframes fly_in_top {
	0%		{margin-top: -20vh;}
	100%	{margin-top: 35vh;}
}

.toppane h1 {
	font-size: 5vw;
	text-shadow: 0px 0px 10px #0ff;	
	animation-name: fly_in_top;
	animation-duration: 2s;
	animation-delay: 0s;
	margin-top: 35vh;
	margin-bottom: 0px;
}
.toppane h2 {
	font-size: 5vw;
	text-shadow: 0px 0px 10px #0ff;	
	animation-name: fly_in_top;
	animation-duration: 2s;
	animation-delay: 0s;
	margin-top: 35vh;
	margin-bottom: 0px;
}
.toppane h3 {
	font-size: 3vw;
	text-shadow: 0px 0px 10px #0ff;
	margin-top: 2vh;
	margin-bottom: 0px;
}


/* ------------ animoitu nuoli aloitusruudussa ------------- */
@keyframes up_and_down{
	0%		{margin-bottom: 6vh;}
	85%		{margin-bottom: 1vh;}
	100%	{margin-bottom: 6vh;}
}

.circle {
	background-color: #fff;
	border-radius: 50%;

	animation-name: up_and_down;
	animation-duration: 2s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 6vh;
	width: 6vh;
	margin-top: auto;
}

.nuoli {
	width: 60%;
	margin-top: 30%;
}


/* ----------------------------------------------------- */

.gradient {
	background-image: linear-gradient(black, rgba(0,0,0,0));
	min-height: 50px;
	max-height: 100vw;
	height: 50vh;
	width: 100vw;
}
/* ----------------------------------------------------- */


/* -------------- Tyhjä tila taustakuvia varten -------- */
.space_for_background {
	min-height: 100px;
	height: 100vh;
	min-width: 100px;
	position: relative;
	display: block;
}
/* ----------------------------------------------------- */


/* --------------------- Tekstiosiot ------------------- */
.d-flex {
	display: flex;
	width: 100vw;
	aspect-ratio: 16/10;
	margin-top: 0px;
}
.d-flex a{
	font-family: "Orbitron", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-shadow: 0px 0px 0px #000;
	font-size: 20px;
	text-decoration: underline;
	color: #0cc;
	
	margin-top: 5px;
	margin-bottom: 5px;
}
.d-flex a:hover {
	color: #099;
}
.d-flex a:visited {
	color: #e5e;
}
.d-flex a:visited:hover {
	color: #b3b;
}


.leftpane {
	color: #fff;
	width: 25%;
	position: relative;
}
.rightpane {
	color: #fff;
	width: 25%;
	position: relative;
}

.leftpane h2 {
	margin-bottom: 10px;
}
.rightpane h2{
	margin-bottom: 10px;
}

.images_16_9 {
	position: relative;
	margin-bottom: 10%;
	align-items: center;
	text-align: center;
}

/* Käännetään kuvia ja teippejä satunnaisesti */
#teipattu_kuva1_1{ rotate: 4deg; }
#teippi1_1{ rotate: 4deg; }
#teipattu_kuva1_2{ rotate: -4deg; }
#teippi1_2{ rotate: -4deg; }
#teipattu_kuva1_3{ rotate: 5deg; }
#teippi1_3{ rotate: 5deg; }
#teipattu_kuva1_4{ rotate: -1deg; }
#teippi1_4{ rotate: -1deg; }

#teipattu_kuva2_1{ rotate: 3deg; }
#teippi2_1{ rotate: 3deg; }
#teipattu_kuva2_2{ rotate: -3deg; }
#teippi2_2{ rotate: -3deg; }
#teipattu_kuva2_3{ rotate: 1deg; }
#teippi2_3{ rotate: 1deg; }
#teipattu_kuva2_4{ rotate: -6deg; }
#teippi2_4{ rotate: -6deg; }

#teipattu_kuva3_1{ rotate: 1deg; }
#teippi3_1{ rotate: 1deg; }
#teipattu_kuva3_2{ rotate: 2deg; }
#teippi3_2{ rotate: 2deg; }
#teipattu_kuva3_3{ rotate: -2deg; }
#teippi3_3{ rotate: -2deg; }
#teipattu_kuva3_4{ rotate: -5deg; }
#teippi3_4{ rotate: -5deg; }

#teipattu_kuva4_1{ rotate: 0deg; }
#teipattu_kuva4_2{ rotate: 0deg; }
#teipattu_kuva4_3{ rotate: 0deg; }
#teipattu_kuva4_4{ rotate: 0deg; }



.kuva{
	box-shadow: 6px 6px 20px black;
	max-width: 80%;
	max-height: 50vh;
	margin-top: 4%;
	margin-bottom: 4%;
	margin-left: 4%;
	margin-right: 4%;
}
.tehoste {
	position: absolute;
	left: 5%;
	right: 5%;
	top: 3%;
	max-width: 100%;
	max-height: 100%;
}


.middlepane {
	color: #fff;
	width: 36%;
	margin-left: 7%;
	margin-right: 7%;
}

.galleria {
	display: flex;
	width: 100vw;
	min-height: 100vh;
	margin-top: 0px;
	margin-bottom: 100px;
}
.gallery_margin {
	color: #fff;
	width: 12.5%;
	position: relative;
}
.col {
	color: #fff;
	width: 25%;
	position: relative;
}
.col img{
	box-shadow: 0px 0px 20px black;
	max-width: 92%;
	max-height: 92%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;
	transition: transform 0.2s;
}
.col img:hover{
	transform: scale(1.05);
}

.loppu_gradient{
	background-image: linear-gradient(rgba(0,0,0,0), #333);
	min-height: 50px;
	max-height: 100vw;
	height: 50px;
	width: 100vw;
}

.loppu {
	background-color: #333;
	width: 100vw;
	
	font-family: "Orbitron", sans-serif;
	font-weight: 200;
	font-style: normal;
	text-shadow: 0px 0px 10px #0cc;
	font-size: 18px;
	
	text-align: left;
}
.loppu_content_holder {
	padding-top: 10vh;
	padding-bottom: 10vh;
	margin-right: 10vw;
	margin-left: 10vw;
}
.loppu h3 {
	font-family: "Orbitron", sans-serif;
	font-weight: 400;
	text-shadow: 0px 0px 10px #0cc;
	font-size: 24px;
	
	margin-top: 40px;
}
.loppu h4 {
	font-family: "Orbitron", sans-serif;
	font-weight: 200;
	text-shadow: 0px 0px 0px black;
	font-size: 20px;	
	margin-top: 20px;
}
.loppu .small p {
	font-family: "Arial", sans-serif;
	font-weight: 200;
	font-style: normal;
	text-shadow: 0px 0px 0px #000;
	font-size: 12px;
	color: white;
	
	margin-top: 60px;
	margin-bottom: 0px;
}

.loppu a:hover {
	color: #bbb;
	text-decoration: underline;
}

.linkki-ikoni {
	transition: transform 0.2s; /*Animaation kesto*/
	border: 0;
	width: 200px;
	height: 200px
}

.linkki-ikoni:hover{
	transform: scale(1.3);
}

.overlay{
	position: fixed;
	display: none;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.9);
	z-index: 6;
	cursor: pointer;
}

#email-kuvake{
	cursor: pointer;
}
.overlay_element {
	margin-top: 25vh;
	text-align: center;
}
.overlay_element h3{
	font-size: 35px;
	font-family: "Orbitron", sans-serif;
	text-shadow: 0px 0px 0px white;
}
.overlay_element p{
	margin-top: 10px;
	font-size: 18px;
	padding-bottom: 10px;
	font-family: "Arial", sans-serif;
	text-shadow: 0px 0px 0px black;
}
.overlay_element .osoite p{
	margin-top: 30px;
	font-size: 35px;
	padding-bottom: 10px;
	font-family: "Arial", sans-serif;
	text-shadow: 0px 0px 0px black;
}

.overlay_element img{
	height: 1em;
}
.overlay_element a{
	z-index: 8;
}
.huomio {
	position: absolute; 
	left: 0;
	right: 0;
	bottom: 0;
	top: auto;
	margin-inline: auto;
	width: fit-content;
}
.huomio pre {
	font-size: 14px;
	font-family: "Arial", sans-serif;
	text-shadow: 0px 0px 0px black;
}
.huomio a {
	color: #0cc;
}
.huomio a:hover {
	color: #099;
}
.huomio a:visited {
	color: #e5e;
}
.huomio a:visited:hover {
	color: #b3b;
}
.sulje p{
	font-size: 20px;
}
.sulje {
	padding-top: 20px;
	padding-right: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
}
.sulje:hover p {
	color: #888;
}
.responsive-table {
        display: block;
		width: auto;
		border-collapse: collapse;
		text-align:center;
		text-shadow: 0px 0px 0px black;
}

/* ----------------------------------------------------- */

/* ------------------- Puhelinversio ------------------- */
@media screen and (max-width: 1000px) {
	.body {
		background-image: url(images/hallway.jpg);
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center;
		background-size: 100vw;
		max-width: 100vw;
		max-height: 300vw;
	}
	/*Puhelimella taustakuvalle ei anneta tilaa, koska sitä ei näytetä*/
	.space_for_background {
		min-height: 50px;
		height: 10vh;
		min-width: 100px;
		position: relative;
		display: block;
	}
	.leftpane, .rightpane, .middlepane {
		width: 100vw;
		min-height: 170vw;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.d-flex {
		display: block;
		position: relative;
	}
	.container {
		position: relative;
		font-size: 20px;
	}
	.toppane h2 {
		font-size: 10vw;
	}	
	.toppane h2{
		font-size: 6vw;
	}
	.subtitle{
		font-family: "Orbitron", sans-serif;
		font-weight: 400;
		font-style: normal;
		text-shadow: 2px 2px 10px black;
		font-size: 6vw;
		color: #fff;
		background-color: rgba(0,0,0,0.8);
	}
	.galleria {
		display: block;
		position: relative;
	}
	.col {
		width: 80%;
		left: 50%;
		transform: translate(-50%, 0%);
		position: relative;
	}
	td, th {
        display: inline-block;
        box-sizing: border-box;
		text-align: center;
    }
	.responsive-table {
		margin-left: auto;
    	margin-right: auto;
	}
	.loppu_content_holder {
		align-items: center;
		text-align: center;
	}
	.overlay_element h3{
		font-size: 6vw;
	}
	.overlay_element .osoite p{
		font-size: 5.5vw;
	}
}
/* ----------------------------------------------------- */