@font-face {
    font-family: 'Old English Text MT';
    src: url('files/OLDENGL.ttf');
    /*Toimii vain, jos tässä kohtaa ei määrittele montaa fonttia*/
    /*samalla, ja tiedostohakemisto ja nimi ovat täsmälleen oikein. */
}

@font-face {
    font-family: 'Papyrus';
    src: url('files/PAPYRUS.ttf');
}


body {
  background: url(images/hallway.jpg) no-repeat center center fixed;
  background-attachment: fixed !important;
  background-size: cover center !important;

  /* Animaation kesto */
  -webkit-transition: background 0.0s;
  -moz-transition: background 0.0s;
  -ms-transition: background 0.0s;
  -o-transition: background 0.0s;
  transition: background 0.0s;
  margin: 0 !important;
}

textarea {
    width: 77%;
    height: 40vh;
    scrollbar-width: none;
    /*overflow: hidden;*/
    resize: none;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    outline: none;
    border: none;
    background: none;
    font-family: 'Papyrus', sans-serif;
    /*text-shadow: 2px 2px 8px black;*/
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
	margin-top: 40px;
    margin-bottom: 40px;
    z-index: 2;
}

.tekstikentta_taustalla {
    /*display: inline;*/
	width: 90%;
    position: relative;
	margin-left: auto;
	margin-right: auto;
}

.tekstikentta_taustalla img {
	/*position: absolute;*/
    width: 50%;
    border: none;
	margin-left: 0%;
    margin-right: 0%;
}

.tekstikentta_taustalla .paperin_alku_class {
	width: 100%;
    margin-left: 0%;
    margin-right: 0%;
	top: 0%;
    /*position: absolute;
    width: 100%;*/
}

.tekstikentta_taustalla .paperin_loppu_class {
	margin-left: auto;
    margin-right: auto;
    top: 100%;
    /*position: absolute;
    margin-top: 500px;
    width: 100%;
    margin-top: 70vh;
    display: flex;*/
}

.tekstikentta_taustalla textarea {
    vertical-align: top;
    position: relative;
    display: inline;
    top: 100%;
}

.suorakulmio {
	margin-left: auto;
    margin-right: auto;
	margin-top: -3px;
    height: 100%;
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    border: none;
}
/*
hr {
    display: block;
    max-width: 80%;
    border: 1px solid white;
    border-radius: 5px;
}
*/
.container {
    width: 100%;
    height: 300vh;
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    text-shadow: 2px 2px 8px black;
}

.toppane {
    width: 100%;
    height: 20vh;
    color: #fff;
    font-size: 50px;
    font-family: 'Old English Text MT', sans-serif;
    text-shadow: 2px 2px 8px black;
}

.leftpane {
  width: 25%;
  height: 100vh;
  color: #fff;
  position: relative;
}

#leftImages_16_9 {
	position: relative;
	margin-bottom: 10%;
}

/* Käännetään kuvia satunnaisesti */
#teipattu_kuva1{ rotate: 2deg; }
#teippi1{ rotate: 2deg; }
#teipattu_kuva2{ rotate: -4deg; }
#teippi2{ rotate: -4deg; }

.leftpane .kuva{
    max-width: 92%;
    max-height: 92%;
	margin-top: 4%;
	margin-bottom: 4%;
    margin-left: 4%;
	margin-right: 4%;
    box-shadow: 6px 6px 20px black;
}

.leftpane .tehoste {
    position: absolute;
    left: 1%;
    top: 1%;
    max-width: 100%;
    max-height: 100%;
}

.leftpane h1 {
    margin-bottom: 10%;
}

.middlepane {
  width: 50%;
  height: 100vh;
  color: #fff;
}

.rightpane {
  width: 25%;
  height: 100vh;
  color: #fff;
}

.d-flex {
  display: flex;
}