body {
	/*background-image: url(images/hallway.jpg) no-repeat center center fixed;*/
	background-image: url(images/hallway.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed !important;
	background-position: center !important;
	background-size: cover !important;
	/* Taustakuvan animaation kesto */
	-webkit-transition: background 0.0s;
	-moz-transition: background 0.0s;
	-ms-transition: background 0.0s;
	-o-transition: background 0.0s;
	transition: background 0.0s;
	margin: 0 !important;
	min-height: 100%;
}

/* ------------------- Valikko ------------------------- */
ul{
	font-family: "Orbitron", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-shadow: 2px 2px 8px black;
	font-size: 18px;
	
	list-style-type: none;
	overflow: hidden;
	background-color: #222;
	
	position: fixed;
	top: 0px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	
	z-index: 5;
}

li{
	float: left;
}

li a{
	display: block;
	color: #0aa;
	text-align: center;
	text-decoration: none;
	padding: 1vh 1.8vw;
}

li a:hover:not(.aktiivinen_sivu){
	background-color: #111;
}

.aktiivinen_sivu{
	background-color: #0cc;
	color: #222;
}
/* ----------------------------------------------------- */

textarea {
	scrollbar-width: none;
	resize: none;
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
	outline: none;
	border: none;
	background: none;
	color: #000;
	
	margin-left: auto;
	margin-right: auto;
}

/* ------------------- Tekstikenttä -------------------- */
.tekstikentta_taustalla {
	width: 90%;
	height: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.tekstikentta_taustalla img {
	border: none;
	z-index: -1;
	
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: absolute;
	width: 100%;
}

.tekstikentta_taustalla textarea {
	scrollbar-width: none;
	resize: none;
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
	outline: none;
	border: none;
	background: none;
	color: #000;
	overflow: hidden;
	font-family: "Pangolin", cursive;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
	
	display: inline;
	height: 50.5%;
	width: 77%;
	position: relative;
	padding-top: 10.8%;
	padding-right: 15%; /* marginaali muistilapun marginaalin kohdalle */
	margin-right: auto;
	margin-left: auto;
}
/* ----------------------------------------------------- */

hr {
	border: 1px solid white;
	border-radius: 5px;
	
	display: block;
	max-width: 80%;
}

.container {
	font-family: "Orbitron", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-shadow: 2px 2px 8px black;
	font-size: 1vw;
	width: 100%;
	height: 150vh;
}

/* ---------------------- Otsikkoruutu ----------------- */
.toppane {
	color: #fff;
	font-family: "Orbitron", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-shadow: 2px 2px 8px black;
	background-color: black;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100vh;	
	margin-top: 0px;
}

@keyframes fly_in_top {
	0%		{margin-top: -20vh;}
	100%	{margin-top: 40vh;}
}

.toppane h1 {
	font-size: 5vw;
	text-align: center;
	text-shadow: 0px 0px 10px #0ff;
	
	animation-name: fly_in_top;
	animation-duration: 2s;
	animation-delay: 0s;
	
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40vh;
	margin-bottom: 0px;
}

/* ------------ animoitu nuoli aloitusruudussa ------------- */
@keyframes up_and_down{
	0%		{margin-bottom: 6vh;}
	85%		{margin-bottom: 1vh;}
	100%	{margin-bottom: 6vh;}
}

.circle {
	background-color: #fff;
	border-radius: 50%;

	animation-name: up_and_down;
	animation-duration: 2s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 6vh;
	width: 6vh;
	margin-top: auto;
}

.nuoli {
	width: 60%;
	margin-top: 30%;
}


/* ----------------------------------------------------- */

.gradient {
	background-image: linear-gradient(black, rgba(0,0,0,0));
	
	min-height: 50px;
	max-height: 100vw;
	height: 50vh;
}
/* ----------------------------------------------------- */


/* --------------------- Tekstiosiot ------------------- */
.d-flex {
	display: flex;
	width: 100%;
	aspect-ratio: 16/11;
	margin-top: 0px;
}

.leftpane {
	color: #fff;
	
	width: 25%;
	position: relative;
}

#leftImages_16_9 {
	position: relative;
	margin-bottom: 10%;
}

/* Käännetään kuvia satunnaisesti */
#teipattu_kuva1{ rotate: 2deg; }
#teippi1{ rotate: 2deg; }
#teipattu_kuva2{ rotate: -4deg; }
#teippi2{ rotate: -4deg; }

.leftpane .kuva{
	box-shadow: 6px 6px 20px black;
	
	max-width: 80%;
	max-height: 80%;
	margin-top: 4%;
	margin-bottom: 4%;
	margin-left: 4%;
	margin-right: 4%;
}

.leftpane .tehoste {
	position: absolute;
	left: 5%;
	top: 3%;
	max-width: 100%;
	max-height: 100%;
}

.leftpane h1 {
	margin-bottom: 10%;
}

.middlepane {
	color: #fff;
	
	width: 36%;
	margin-left: 7%;
	margin-right: 7%;
}

.rightpane {
	color: #fff;
	
	width: 25%;
}
/* ----------------------------------------------------- */